<div class="container">
  <h1 class="text-center"><%= fa_icon 'comments', text: '撩妹金句' %><span class="ml-2">(<%= @dialogues_count %> 組)</span></h1>
  <table class="table table-responsive-md mt-2">
    <thead class="thead-light">
      <tr class="text-nowrap">
        <th>編號</th>
        <th>標題</th>
        <th>來源</th>
        <th><%= fa_icon 'thumbs-o-up', text: '可以' %></th>
        <th><%= fa_icon 'thumbs-o-down', text: '不行' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dialogues.each do |d| %>
        <tr>
          <td>#<%= d.id %></td>
          <td class="text-truncate" style="max-width: 160px;"><%= d.title %></td>
          <td class="text-truncate" style="max-width: 160px;"><%= link_to d.source, d.source %></td>
          <td><%= d.likes %></td>
          <td><%= d.dislikes %></td>
          <td>
            <%= link_to dialogue_path(d), class: 'btn btn-sm btn-primary' do %>
              <%= fa_icon 'info-circle', text: '查看' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @dialogues %>
</div>
