<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/header' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= flash_message %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
