<!DOCTYPE html>
<html>
  <head>
    <%= render 'backstage/shared/header' %>
  </head>
  <body class="d-flex">
    <%= render 'backstage/shared/sidebar'%>
    <main class="pt-2 w-100">
      <div class="container-fluid">
        <%= flash_message %>
        <div class="mb-2"><%= sidebar_toggler %></div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
